
name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  

jobs:
  compile:

    runs-on: ubuntu-latest

steps:
- uses: actions/checkout@v4
  with:
    fetch-depth: 0   # IMPORTANT for gitleaks

# ---------------- GitLeaks ----------------
- name: Install GitLeaks
  run: |
    curl -sSL https://github.com/gitleaks/gitleaks/releases/latest/download/gitleaks-linux-amd64.tar.gz \
    | tar -xz
    sudo mv gitleaks /usr/local/bin/

- name: GitLeaks Scan (save report)
  run: |
    gitleaks detect \
      --source . \
      --report-format json \
      --report-path gitleaks-report.json

# ---------------- Trivy FS ----------------
- name: Install Trivy
  run: |
    sudo apt-get update -y
    sudo apt-get install wget gnupg -y
    wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key \
      | gpg --dearmor \
      | sudo tee /usr/share/keyrings/trivy.gpg > /dev/null
    echo "deb [signed-by=/usr/share/keyrings/trivy.gpg] https://aquasecurity.github.io/trivy-repo/deb generic main" \
      | sudo tee /etc/apt/sources.list.d/trivy.list
    sudo apt-get update -y
    sudo apt-get install trivy -y

- name: Trivy FS Scan (save report)
  run: |
    trivy fs . \
      --severity HIGH,CRITICAL \
      --format table \
      --output trivy-fs-report.txt

# ---------------- Upload Reports ----------------
- name: Upload Security Reports
  if: always()
  uses: actions/upload-artifact@v4
  with:
    name: security-reports
    path: |
      gitleaks-report.json
      trivy-fs-report.txt
